body, div, h1, h2, h3, h4, h5, h6, p, ul, li, a, span {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: none;
  color: #ffffff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: italic;
  outline: none;
}

body {
  background: #202020;
  overflow-x: hidden;
}

.content {
  width: 90vw;
  max-width: 600px;
  margin: 5vh auto;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80% auto 25px;
      grid-template-columns: 80% auto 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5vh;
}

.li-about-grid {
  -ms-grid-rows: (minmax(35px, 5vh))[6];
      grid-template-rows: repeat(6, minmax(35px, 5vh));
  margin-bottom: 5vh;
}

h1 {
  font-size: calc(24px + (32 - 24) * ((100vw - 320px) / (1200 - 320)));
  border: 1px solid;
  padding: .75vmin;
  border-radius: 7.5px;
  overflow-y: hidden;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  z-index: 5;
  padding: 1vmin;
  outline: 1px solid #ffffff;
  outline-offset: -1vmin;
}

.pho-title-wrapper {
  border: 1px solid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  border-radius: 10px;
}

h2, .pj-title {
  font-size: calc(20px + (26 - 20) * ((100vw - 320px) / (1200 - 320)));
  border: 1px solid;
  padding: .75vmin;
  border-radius: 7.5px;
  overflow-y: hidden;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  margin: 0;
}

h3 {
  font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1200 - 320)));
  border: 1px solid;
  padding: .75vmin;
  border-radius: 7.5px;
  overflow-y: hidden;
  font-weight: 300;
}

.home-btn {
  font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1200 - 320)));
  width: 50%;
  max-width: 300px;
  display: block;
  margin: 0 auto;
  border: 1px solid;
  padding: 10px;
  border-radius: 7.5px;
  overflow-y: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}

.home-btn:focus, .home-btn:hover {
  color: #40ffc0;
  text-decoration: underline;
  border-color: #ffffff;
  outline: 1px solid #ffffff;
  outline-offset: -5px;
}

.subtitle {
  font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1200 - 320)));
  border: 1px solid;
  padding: .75vmin;
  border-radius: 7.5px;
  overflow-y: hidden;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
  min-width: 50%;
  -ms-grid-column-align: end;
      justify-self: end;
  text-align: center;
}

a {
  z-index: 10;
}

a:hover, a:focus {
  border: 1px solid;
  border-radius: 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

a:hover h3, a:focus h3 {
  -webkit-transition: .3s;
  transition: .3s;
  margin: 0.75vmin;
  color: #40ffc0;
  text-decoration: underline;
}

.line {
  border-top: 1px solid;
  height: 100%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.pad {
  padding: .4vmin 2.5vw;
}

.wrap {
  border: 1px solid;
  padding: .75vmin;
  border-radius: 7.5px;
  overflow-y: hidden;
}

.mg-top {
  margin-top: 2.5vh;
}

.sub-item {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
  min-width: 50%;
  -ms-grid-column-align: end;
      justify-self: end;
  text-align: center;
  border: 1px solid;
  padding: 10px;
  border-radius: 7.5px;
  overflow-y: hidden;
  -webkit-transition: .3s;
  transition: .3s;
  margin: 5px 0;
}

.sub-item:focus, .sub-item:hover {
  color: #40ffc0;
  text-decoration: underline;
  border-color: #ffffff;
  outline: 1px solid #ffffff;
  outline-offset: -5px;
}

.sub-item-text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
  min-width: 50%;
  -ms-grid-column-align: end;
      justify-self: end;
  text-align: center;
  margin: 5px 0;
  border: 1px solid;
  padding: 10px;
  border-radius: 7.5px;
  overflow-y: hidden;
}

.vert-line-box {
  width: 100%;
  height: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
}

.vert-line-box span {
  display: block;
  background: #ffffff;
  width: 1px;
  height: 100%;
  margin: 0 auto;
}

.biopic {
  border: 1px solid;
  padding: .75vmin;
  border-radius: 7.5px;
  overflow-y: hidden;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6/8;
  padding: .4vmin;
  width: 35%;
  min-width: 150px;
  max-width: 250px;
  margin: 0 auto;
  -ms-grid-column-align: end;
      justify-self: end;
}

.gif {
  border: 1px solid;
  padding: .75vmin;
  border-radius: 7.5px;
  overflow-y: hidden;
  padding: .4vmin;
  width: 50%;
  min-width: 250px;
  max-width: 400px;
  margin: 0 auto;
  -ms-grid-column-align: end;
      justify-self: end;
}

.row-0 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
}

.row-1 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5/7;
}

.row-2 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 2;
  grid-row: 7/9;
}

.row-3 {
  -ms-grid-row: 9;
  -ms-grid-row-span: 2;
  grid-row: 9/11;
}

.row-4 {
  -ms-grid-row: 11;
  -ms-grid-row-span: 2;
  grid-row: 11/13;
}

.path {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  height: 100%;
  z-index: 0;
  border-top: 1px solid;
  border-right: 1px solid;
}

.path-0 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  border-radius: 0 10px 0 0;
}

.path-1 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  grid-row: 4/6;
}

.path-2 {
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  grid-row: 6/8;
}

.path-3 {
  -ms-grid-row: 8;
  -ms-grid-row-span: 2;
  grid-row: 8/10;
}

.path-4 {
  -ms-grid-row: 10;
  -ms-grid-row-span: 2;
  grid-row: 10/12;
}

.path-end {
  border-radius: 0 0 10px 0;
  border-bottom: 1px solid;
}

.path-begin-end {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  border-bottom: 1px solid;
  border-radius: 0 10px 10px 0;
}
/*# sourceMappingURL=app.css.map */